*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 100%;
}

button {
  display:block;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  
}


.timer-container{
  background-image: url('./pics/openFinal.gif'); 
  background-position: center;
  background-size: cover;
  
  color:white;
  width:100vw;
  height:100vh;
}

.timer {
  
  display:flex;
  flex:column;
  align-items: center;
  justify-content: center;
  height: 50%;
  
}

.digits{
  font-size:5em;
  border: 0.05em solid white;
  position: absolute;
  padding: 0.5em;
  animation: blink 1s infinite;
  
  
}


@keyframes blink{50% {border-color:red;}}

.playButton{
    
    position: relative;
    width:24em;
    height: 13em;
    
}


.resetButton{
  
    position: absolute;
    margin-top: 1em;
    margin-left: 9.6em;
    width:1em;
    height:1em;
    cursor:pointer;
    
}

.resetButton image{
  width: 1em;
  height: 1em;
}
@media screen and (max-width: 480px){
  .digits{
    margin-left: 4em;
    margin-right:2em;
    padding: 3em 1em;
  }
}
